@use '../../foundations/borders/mixins.scss' as border;
@use '../../foundations/colors/mixins.scss' as colorMixin;
@use '../../foundations/colors/tokens.scss' as color;
@use '../../foundations/spacing/tokens.scss' as spacing;
@use '../../foundations/typography/mixins.scss' as typography;

.fudis-box {
  @include border.border('1px', 'solid', 'gray-dark');
  @include typography.body-text-sm-regular;

  max-width: calc(spacing.$spacing-xl * 10); // 400px;
  /* stylelint-disable-next-line property-disallowed-list */
  line-height: spacing.$spacing-sm;
}

.fudis-study-box {
  &__heading {
    @include colorMixin.bg-color('primary-light');

    padding: spacing.$spacing-xxs spacing.$spacing-xs;
  }

  &__content {
    @include colorMixin.bg-color('white');

    padding: spacing.$spacing-xxs spacing.$spacing-xs;
  }

  &__notification {
    @include colorMixin.bg-color('gray-extra-light');

    display: flex;
    align-items: center;
    border-top: spacing.$pixel-1 solid color.$color-gray-light;

    &__action {
      @include colorMixin.bg-color('gray-extra-light');

      display: flex;
      justify-content: flex-end;
      padding: spacing.$spacing-xxs spacing.$spacing-xs;
    }
  }
}
