# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/core/dist
/core/tmp
/core/out-tsc
/core/bazel-out
**/.storybook/target
/core/static

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
!settings/.vscode
!fudis-core/.vscode
.history/*

# System files
.DS_Store
Thumbs.db

*storybook.log
