/* stylelint-disable declaration-no-important */
/* stylelint-disable property-disallowed-list */
/* stylelint-disable unit-disallowed-list */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable color-no-hex */
@import "./../assets/fonts/fonts.css";

*:focus {
  outline: 2px dashed #484848;
  outline-offset: 1px;
  box-shadow: 0 0 0 4px #ffffff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
  color: #000000;
}

/* Main content max-width based on breakpoints */

@media screen and (width >= 36em) {
  .main-container {
    max-width: 540px;
  }
}

@media screen and (width >= 48em) {
  .main-container {
    max-width: 720px;
  }
}

@media screen and (width >= 62em) {
  .main-container {
    max-width: 960px;
  }
}

@media screen and (width >= 75em) {
  .main-container {
    max-width: 1140px;
  }
}

/* Header styles */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
  background-image: url("../assets/fudis-landing-page-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
}

.header-logo {
  margin-bottom: 0;

  & img {
    width: 100%;
    max-width: 200px;
  }
}

.header-info {
  padding: 0 1rem;
  text-align: center;
  color: #000000;
  font-family: "Plaax Ney Regular", sans-serif;
  font-size: 24px;
}

@media screen and (width <= 36em) {
  .header-container {
    height: 188px;
  }

  .header-logo img {
    max-width: 100px !important;
  }

  .header-info {
    font-size: 18px !important;
  }
}

/* Main content styles */

.main-container {
  margin: 0 auto 5rem;
}

.main-section {
  margin: 0 2rem;
}

.main-heading {
  font-family: "Plaax Ney Regular", sans-serif;
  font-size: 36px;
}

.main-info {
  margin-bottom: 4rem;
  line-height: 30px;
  font-family: "Plaax Ney Regular", sans-serif;
  font-size: 20px;
}

@media screen and (width <= 36em) {
  .main-container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .main-heading {
    font-size: 28px;
  }

  .main-info {
    font-size: 16px;
  }
}

@media screen and (width <= 48em) {
  .main-heading,
  .main-info {
    text-align: center;
  }
}

/* Card styles */

.card-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.card-container > * {
  flex: 1;
}

.card {
  border: 1px solid #484848;
  border-radius: 1rem;
  padding: 2rem;
}

.card-image {
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.card-image-styles {
  background-image: url("../assets/card-styles.svg");
}

.card-image-components {
  background-image: url("../assets/card-components.svg");
}

.card-heading {
  font-family: "Plaax Ney Regular", sans-serif;
  font-size: 28px;
}

.card-info {
  margin-bottom: 4rem;
  font-family: "Plaax Ney Light", sans-serif;
  font-size: 18px;
}

.card-link {
  display: flex;
  align-items: center;
  border: 2px solid #484848;
  border-radius: 2px;
  padding-right: 0.5rem;
  width: max-content;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Plaax Ney Regular", sans-serif;
}

.card-link,
.card-link:visited,
.card-link:hover,
.card-link:active {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  margin: -1px;
  outline: 0;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

@media screen and (width <= 48em) {
  .card-container {
    flex-direction: column;
  }
}

@media screen and (width <= 36em) {
  .card-heading {
    font-size: 26px;
  }
}

/* Footer styles */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.footer-content {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  place-items: baseline start;
  padding: 2rem 0;
}

.footer-logo {
  color: #000000;
}

.footer-heading {
  text-transform: uppercase;
  font-family: "Plaax Ney Bold", sans-serif;
  font-size: 20px;
}

.footer-info {
  line-height: 27px;
  font-family: "Plaax Ney Bold", sans-serif;
  font-size: 18px;
}

.footer-email {
  text-decoration: none;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  color: inherit;
}

@media screen and (width <= 48em) {
  .footer-heading {
    font-size: 18px;
  }

  .footer-info {
    font-size: 16px;
  }

  .footer-container {
    justify-content: normal;
    padding-left: 2rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
