name: Build project

on:
  workflow_call:

jobs:
  build-image:
    name: Build and save project image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: ./
          tags: fudis-core
          outputs: type=docker,dest=/tmp/fudis-core.image.tar
      - name: Save image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: fudis-core
          path: /tmp/fudis-core.image.tar
          retention-days: 1
