name: Publish Fudis Design System landing page

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - "landing-page/**"
      - ".github/workflows/publish_landing_page.yaml"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Upload landing page to S3
        run: |
          aws s3 sync landing-page s3://${{ vars.AWS_S3_BUCKET_NAME }} --cache-control max-age=5
